[profile.default]
remappings = [
    'forge-std/=lib/forge-std/src/',
    'oz/=lib/openzeppelin-contracts/contracts/',
    'oz-up/=lib/openzeppelin-contracts-upgradeable/contracts/',
]
optimizer = false
solc_version = "0.8.30"

[profile.production]
optimizer = true
via_ir = true
optimizer_runs = 1000000
evm_version = "paris"

[profile.zksync]
src = 'src'
optimizer = true
optimizer_runs = 1000000
fallback_oz = true
is_system = false
mode = "3"

[fuzz]
runs = 16384

[profile.ci.fuzz]
runs = 10000

[etherscan]
holesky = { chain = 17000, key = "${ETHERSCAN_API_KEY}", url = "https://api-holesky.etherscan.io/api" }
celo_alfajores = { chain = 44787, key = "${ETHERSCAN_API_KEY}", url = "https://api-alfajores.celoscan.io/api" }
mantle_sepolia = { chain = 5003, key = "${ETHERSCAN_API_KEY}", url = "https://api-sepolia.mantlescan.xyz/api" }
mode = { chain = 34443, key = "${ETHERSCAN_API_KEY}", url = "https://api.routescan.io/v2/network/mainnet/evm/34443/etherscan/api" }
mantle = { chain = 5000, key = "${ETHERSCAN_API_KEY}", url = "https://api.mantlescan.xyz/api" }
base = { chain = 8453, key = "${ETHERSCAN_API_KEY}", url = "https://api.basescan.org/api" }
base_sepolia = { chain = 84532, key = "${ETHERSCAN_API_KEY}", url = "https://api-sepolia.basescan.org/api" }
taiko = { chain = 167000, key = "${ETHERSCAN_API_KEY}", url = "https://api.taikoscan.io/api" }
sonic = { chain = 146, key = "${ETHERSCAN_API_KEY}", url = "https://api.sonicscan.org/api" }
sepolia = { chain = 11155111, key = "${ETHERSCAN_API_KEY}", url = "https://api-sepolia.etherscan.io/api" }
swell = { chain = 1923, key = "${ETHERSCAN_API_KEY}", url = "https://api.swellchainscan.io/api" }
sei = { chain = 1329, key = "${ETHERSCAN_API_KEY}", url = "https://seitrace.com/pacific-1/api" }
